{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method='post'>
        <label>
            Title for your new blog: <br>
            <input type="text" name='title' value="{{title_content}}"/>
            <div class="error">
                    {{ title_error }}
            </div>
        </label> <br> <br>
        <label>
            Your new blog post: <br> 
            <textarea name='blog' >{{blog_content}}</textarea>
            <div class="error">
                    {{ blog_error }}
            </div>
        </label> <br>
        <input type="submit" value='Add Entry' />
    </form>
{% endblock %}